<h4>Configuración avanzada</h4>
{{#unless isAdmin}}
  <div>
    <label for="">Admin:</label>
    <input type="text" value="off" disabled readonly />
  </div>
{{/unless}}

<div>
  <label for="">Vivo:</label>
  {{#if isLive}}
    <input type="text" value="on" disabled readonly />
  {{else}}
    <input type="text" value="off" disabled readonly />
  {{/if}}
</div>

<div>
    <label for="">Login:</label>
    <input type="checkbox" checked={{isLogin}} disabled readonly />
</div>

{{#ExCompare posts '>' 100}}
  <p>Tienes más de 100 publicaciones</p>
{{else}}
  <p>Tienes menos de 100 publicaciones</p>
{{/ExCompare}}

{{#ExCompare followers '<=' 2000}}
  <p>Tienes menos de 2,000 publicaciones</p>
{{else}}
  <p>Tienes más de 2,000 seguidores</p>
{{/ExCompare}}